html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* off white */
    background-color: #faf9f6;
    /* lock scroll */
    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 200;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 50;
}

.landing {
    width: min(650px, 100%);
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 3rem;
}

.landing .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.landing .header-grid .header-cell {
    display: flex;
    align-items: flex-end;
}

.header-cell.align-text-left { 
    justify-content: flex-start; 
    text-align: left;
}
.header-cell.align-text-right {
    justify-content: flex-end;
    text-align: right;
}

.phonetics {
    font-size: 1.5rem;
    font-style: italic;
    color: #555;
    font-weight: 100;
    margin-top: 0.5rem;
}