:root {
    /* clamp(min, preferred, max) */
    --padding-y: clamp(8px, 2vw, 32px);
    --padding-x: clamp(12px, 3vh, 48px);

    --font-size-xs: 0.75rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;

    --hashmark: 1px solid #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    padding: 0;

    background: white;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(0,0,0,0.15) 1.5px, transparent 0);
    background-size: 24px 24px;
    z-index: -1;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.column {
    display: flex;
    flex-direction: column;
    padding: var(--padding-y) var(--padding-x);
}

h1 {
    font-size: var(--font-size-lg);
    font-weight: 400;
}

h2 {
    font-size: var(--font-size-md);
}