html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* off white */
    background-color: #faf9f6;
    /* lock scroll */
    overflow: hidden;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 200;
}

.container {
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* shared "page width" for stage + landing + content */
.stage,
.landing,
.content {
    width: 100%;
    max-width: 1000px;
}

.stage {
    aspect-ratio: 16 / 9;
    background-color: #eee;
    overflow: hidden;

    max-height: 40vh;
    height: auto;
}

.landing {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.header {
    text-align: center;
}

.phonetics {
    font-size: 1.5rem;
    font-style: italic;
    color: #555;
    font-weight: 100;
    margin-top: 0.5rem;
}

.link-rail {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
}

.small-logo {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    cursor: pointer;
}

.content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}